## Database URI (Local / MongoDB / PostgreSQL)
DATABASE_URL = ''

## Apikey AlyaChan
API_ENDPOINT = 'https://api.alyachan.dev/api'
API_KEY = 'yourkey'

## Time Zone
TZ = 'Asia/Jakarta'

## Chatbot (OpenAI-Compatible Endpoint e.g. Groq, OpenRouter, Google AI Studio)
CHATBOT_BASE_URL = 'https://api.groq.com/openai/v1'
CHATBOT_API_KEY = 'your_api_key_here'
CHATBOT_MODEL = 'gemma2-9b-it'